In [18]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.edge.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [19]:
def fetch_customer_df():
    # 1) Set up headless Edge (uses edgedriver from your PATH)
    options = webdriver.EdgeOptions()
    options.use_chromium = True
    # options.add_argument("--headless")        # remove this line if you want to see the browser
    driver = webdriver.Edge(options=options)

    # 2) Navigate
    driver.get("https://www.workday.com/en-ca/customer-list.html")
    wait = WebDriverWait(driver, 10)

    # 3) wait for user to press enter key to continue
    print("Press Enter to continue...")
    input()
    

    # 4) Scrape all <img class="wide-logo" alt="…">
    imgs = driver.find_elements(By.CSS_SELECTOR, "img.wide-logo")
    names = [img.get_attribute("alt") for img in imgs if img.get_attribute("alt")]

    driver.quit()

    # 5) Build DataFrame
    df = pd.DataFrame(names, columns=["customer_name"])
    return df

In [20]:
df = fetch_customer_df()
df.to_csv("workday_customers.csv", index=False)

Press Enter to continue...

In [ ]:
df

                    customer_name
0                       8x8, Inc.
1             AT&T, Services Inc.
2     Hong Kong Broadband Network
3              Orange Belgium SA.
4                        TalkTalk
...                           ...
3495                      YOUView
3496                   ZAGG, Inc.
3497         Zoopla (ZPG Limited)
3498        Zuhlke Engineering AG
3499                DB Cargo logo

[3500 rows x 1 columns]